name: deploy
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build: 
    name: build
    runs-on: ubuntu-latest
    steps:
          - name: upload
            run: echo "READY TO DEPLOY"
          - name: step-2
            run: echo "STEP 2" 
            
    
