name: deploy
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build: 
    name: build
    runs-on: ubuntu
    steps:
          - name: upload
            run: echo "READY TO DEPLOY"
    
